/*-----------------------------------*\
  # style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --raisin-black-2: hsl(245, 16%, 16%);
  --raisin-black-1: hsl(244, 17%, 19%);
  --majorelle-blue: hsl(47, 98%, 50%);
  --ghost-white-1: hsl(240, 100%, 99%);
  --ghost-white-2: hsl(228, 50%, 96%);
  --white-opacity: hsla(0, 0%, 100%, 0.5);
  --independence: hsl(222, 46%, 17%);
  --lavender-web: hsl(247, 69%, 95%);
  --eerie-black: hsl(210, 11%, 15%);
  --cool-gray: hsl(244, 17%, 61%);
  --sapphire: hsl(211, 100%, 35%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-quicksand: "Quicksand", sans-serif;
  --ff-mulish: "Mulish", sans-serif;

  --fs-1: 36px;
  --fs-2: 28px;
  --fs-3: 20px;
  --fs-4: 17px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 80px;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
ion-icon,
textarea { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  font: inherit;
  width: 100%;
}

html {
  font-family: var(--ff-quicksand);
  scroll-behavior: smooth;
}

body { background: var(--white); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.h1,
.h2,
.h3 {
  color: var(--independence);
  font-family: var(--ff-mulish);
  line-height: 1.2;
}

.h1 { font-size: 45px; }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.btn {
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 15px 30px;
  border-radius: 4px;
  transition: var(--transition);
}

.btn:is(:hover, :focus) { transform: translateY(-2px); }

.btn-primary {
  background: var(--majorelle-blue);
  color: var(--white);
}

.btn-primary:is(:hover, :focus) {
  --majorelle-blue: hsl(180, 98%, 31%);
  box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-outline { 
  border: 1px solid var(--majorelle-blue);
  color: var(--majorelle-blue);
}

.btn-outline:is(:hover, :focus) {
  background: var(--majorelle-blue);
  color: var(--white);
  box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-secondary {
  background: hsla(245, 67%, 59%, 0.15);
  color: var(--majorelle-blue);
}

.section-title { text-align: center;
font-size: 50px;
 }

.section-text {
  color: hsl(222, 46%, 17%);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.7;
  text-align: center;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: hsl(180, 98%, 31%);
  padding-block: 20px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05);
  height: 65px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.header.active { height: 400px; }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle-btn { font-size: 25px; }

.navbar {
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  padding-inline: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.header.active .navbar {
  visibility: visible;
  opacity: 1;
}

.navbar-link,
.header-action-link {
  color: white;
  font-size: var(--fs-6);
  font-family: var(--ff-mulish);
  padding-block: 8px;
}

:is(.navbar-link, .header-action-link):is(:hover, :focus) { color: hsl(47, 98%, 50%); }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding: 125px 0 var(--section-padding);
  background: white;
  height: 620px;
  border-bottom: 10px solid hsl(180, 98%, 31%);;
}

.hero-content { margin-bottom: 80px; }

.hero-title { margin-bottom: 25px; }

.hero-text {
  color: var(--cool-gray);
  font-size: 25px;
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 40px;
}

.form-text {
  color: var(--independence);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 20px;
}

.form-text span {
  display: inline-block;
  font-size: 20px;
}

.email-field {
  background: var(--ghost-white-2);
  padding: 17px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.email-field:focus { outline-color: var(--majorelle-blue); }

.hero .btn-primary { margin-inline: auto; }

.hero-banner img { width: 100%; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { padding-block: var(--section-padding); 

border-bottom: 10px solid hsl(180, 98%, 31%);}

.about-content { margin-bottom: 30px; }

.about-icon {
  width: 60px;
  height: 60px;
  background: hsl(180, 98%, 31%);
  display: grid;
  place-items: center;
  color: var(--majorelle-blue);
  font-size: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.about-title { margin-bottom: 10px; }

.about-text {
  color: var(--cool-gray);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-list {
  display: grid;
  gap: 20px;
}

.about-card {
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 12px hsla(233, 77%, 10%, 0.06);
  border-radius: 4px;
  transition: var(--transition);
}

.about-card:hover {
  background: hsl(180, 98%, 31%);
  transform: translateY(-5px);
  box-shadow: 0 5px 18px hsla(245, 67%, 59%, 0.4);
}

.about-card .card-icon {
  width: 60px;
  height: 60px;
  background: var(--lavender-web);
  display: grid;
  place-items: center;
  color: var(--majorelle-blue);
  font-size: 28px;
  border-radius: 50%;
  margin-inline: auto;
  margin-bottom: 20px;
  transition: var(--transition);
}

.about-card:hover .card-icon {
  background: hsla(0, 0%, 100%, 0.15);
  color: var(--white);
  box-shadow: 0 0 0 8px hsla(0, 0%, 100%, 0.05);
}

.about-card .card-title {
  margin-bottom: 10px;
  transition: var(--transition);
}

.about-card:hover .card-title { color: var(--white); }

.about-card .card-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  line-height: 1.8;
  transition: var(--transition);
}

.about-card:hover .card-text { color: hsla(0, 0%, 100%, 0.5); }





/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  padding-block: var(--section-padding);
  background: white;
}

.features .section-title { margin-bottom: 15px; }

.features .section-text { margin-bottom: 60px; }

.features-wrapper:not(:last-child) { margin-bottom: 80px; }

.features-banner { margin-bottom: 35px; }

.features-banner img { width: 100%; }

.features-content-subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-5);
  color: var(--eerie-black);
  margin-bottom: 20px;
}

.features-content-subtitle ion-icon {
  color: var(--majorelle-blue);
  font-size: 20px;
}

.features-content-title {
  font-size: var(--fs-2);
  font-family: var(--ff-mulish);
  color: var(--independence);
  font-weight: var(--fw-600);
  margin-bottom: 25px;
}

.features-content-title strong { font-weight: var(--fw-700); }

.features-content-text {
  font-size: var(--fs-6);
  color: var(--cool-gray);
  line-height: 1.7;
  margin-bottom: 25px;
}

.features-list { margin-bottom: 40px; }

.features-list-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: var(--fs-5);
  color: var(--cool-gray);
  margin-bottom: 10px;
}

.features-list-item ion-icon { font-size: 23px; }

.features-list-item p { width: calc(100% - 28px); }

.features-wrapper:last-child {
  display: flex;
  flex-direction: column-reverse;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog { padding-block: var(--section-padding); }

.blog .section-title { margin-bottom: 20px; }

.blog .section-text { margin-bottom: 40px; }

.blog-list {
  display: grid;
  gap: 30px;
}

.blog-banner { margin-bottom: 20px; }

.blog-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.blog-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: var(--fs-6);
  text-transform: uppercase;
  color: var(--cool-gray);
  margin-bottom: 10px;
}

.blog-meta span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog-title {
  font-size: var(--fs-3);
  color: var(--independence);
}

.blog-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  line-height: 1.7;
  margin-bottom: 15px;
}

.blog-link-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--majorelle-blue);
  font-weight: var(--fw-600);
}

.blog-link-btn:is(:hover, :focus) { color: var(--sapphire); }





/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact {
  padding-block: var(--section-padding);
  background: var(--ghost-white-1);
}

.contact .section-title { margin-bottom: 15px; }

.contact .section-text { margin-bottom: 60px; }

.contact-form { margin-bottom: 50px; }

.input-wrapper { margin-bottom: 20px; }

.contact label {
  color: var(--independence);
  font-weight: var(--fw-500);
  margin-bottom: 10px;
}

.contact .input-field {
  background: transparent;
  color: var(--independence);
  font-size: var(--fs-7);
  padding: 10px 15px;
  border: 1px solid hsla(244, 17%, 67%, 0.3);
  border-radius: 4px;
}

.contact .input-field:focus {
  outline: none;
  background: var(--ghost-white-2);
}

.contact .input-field::placeholder { color: var(--cool-gray); }

textarea.input-field {
  margin-bottom: 20px;
  resize: vertical;
  min-height: 50px;
  height: 100px;
  max-height: 200px;
}

.contact .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact .btn-primary ion-icon { --ionicon-stroke-width: 40px; }

.contact-list li:not(:last-child) { margin-bottom: 25px; }

.contact-link {
  color: var(--cool-gray);
  font-weight: var(--fw-500);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.contact-link ion-icon {
  font-size: 20px;
  --ionicon-stroke-width: 30px;
}

.contact-link :is(span, address) { width: calc(100% - 25px); }

.contact-link address { font-style: normal; }





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
  background: var(--raisin-black-1);
  color: white;
  font-weight: var(--fw-500);
}

.footer-top { padding-block: var(--section-padding); }

.footer-brand { margin-bottom: 60px; }

footer .logo { margin-bottom: 25px; }

.footer-text {
  font-size: var(--fs-6);
  line-height: 1.8;
  margin-bottom: 25px;
  color: white;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.social-link {
  color: var(--white-opacity);
  font-size: 25px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) { color: var(--white); }

.footer-link-box {
  display: grid;
  gap: 50px;
}

.footer-list li:first-child { margin-bottom: 20px; }

.footer-item-title {
  color: var(--white);
  font-family: var(--ff-mulish);
  font-weight: var(--fw-700);
}

.footer-link {
  color: var(--white-opacity);
  font-size: var(--fs-6);
  transition: var(--transition);
  padding-block: 10px;
}

.footer-link:is(:hover, :focus) {
  color: var(--white);
  transform: translateX(5px);
}

.footer-bottom {
  background: var(--raisin-black-2);
  padding-block: 20px;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: var(--white-opacity);
  transition: var(--transition);
}

.copyright a:is(:hover, :focus) { color: var(--white); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 450px screen
 */

@media (min-width: 450px) {

  /**
   * HERO
   */

  .hero-form { position: relative; }

  .email-field {
    margin-bottom: 0;
    padding-right: 155px;
  }

  .hero .btn-primary {
    position: absolute;
    top: 5px;
    /* right: 5px; */
    padding-block: 12.5px;
  }



  /**
   * ABOUT
   */

  .about-card .card-text {
    max-width: 300px;
    margin-inline: auto;
  }

}





/**
 * responsive for larger than 576px screen
 */

@media (min-width: 576px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 52px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 525px;
    margin-inline: auto;
  }

  .section-text {
    max-width: 460px;
    margin-inline: auto;
    margin-bottom: 80px;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .section-text { max-width: 645px; }



  /**
   * HERO
   */

  .hero :is(.hero-text, .form-text, .hero-form) { max-width: 520px; }

  .hero-banner {
    max-width: 600px;
    margin-inline: auto;
  }



  /**
   * ABOUT
   */

  .about-list { grid-template-columns: 1fr 1fr; }



  /**
   * CONTACT
   */

  .contact-form .wrapper-flex {
    display: flex;
    gap: 30px;
  }

  .wrapper-flex .input-wrapper { width: 50%; }



  /**
   * FOOTER
   */

  .footer-link-box { grid-template-columns: repeat(3, 1fr); }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }

  .section-text { max-width: 450px; }



  /**
   * HEADER
   */

  .header {
    overflow: visible;
    padding-block: 0;
    height: unset;
  }

  .header.active { height: unset; }

  .menu-toggle-btn { display: none; }

  .navbar {
    position: static;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 40px;
    margin-inline: auto;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navbar-link,
  .header-action-link { padding-block: 15px; }



  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    gap: 60px;
  }

  .hero-content { margin-bottom: 0; }



  /**
   * ABOUT
   */

  .about .container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .about-content {
    margin-bottom: 0;
    width: 40%;
  }

  .about-list {
    gap: 30px;
    padding-bottom: 50px;
  }

  .about-list li:nth-child(odd) { transform: translateY(50px); }



  /**
   * FEATURES
   */

  .features-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 90px;
  }

  .features-wrapper:not(:last-child) { margin-bottom: 100px; }

  .features-wrapper:last-child .features-banner {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }



  /**
   * BLOG
   */

  .blog-list { grid-template-columns: repeat(3, 1fr); }

  .blog .section-text { margin-bottom: 50px; }



  /**
   * CONTACT
   */

  .contact-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 80px;
    align-items: center;
  }

  .contact-form { margin-bottom: 0; }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }

  .footer-brand {
    margin-bottom: 0;
    max-width: 300px;
  }

  .footer-list { width: 140px; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }



  /**
   * HERO
   */

  .hero .container { gap: 150px; }



  /**
   * FOOTER
   */

  .footer-link-box { margin-right: 40px; }

  .footer-list { width: 170px; }

}





/**/

.logofirst{
 width: 130px;
}


/*client slider*/


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*Slide btn*/

.slidebtn{
  margin-top: 80px;
  margin-left: 44%;
  width: 150px;
  margin-top: 20px;
  margin-left: 44%;
  margin-bottom: 20px;
}

.slidebtn1{
  margin-top: 20px;
  margin-left: 44%;
  margin-bottom: 20px;
}


/*stats list*/

.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}


.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0px;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: hsl(180, 98%, 31%);
}

.projectFactsWrap .item:nth-child(2){
  background: hsl(180, 98%, 31%);
}

.projectFactsWrap .item:nth-child(3){
  background: hsl(180, 98%, 31%);
}

.projectFactsWrap .item:nth-child(4){
  background: hsl(180, 98%, 31%);
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}

/* AUTHOR LINK */




@media screen and (max-width: 768px) {
    .authorWindow{
         width: 210px;
    }

    .authorWindowWrapper{
             bottom: -170px;
  margin-bottom: 20px;
    }

    footer p{
          font-size: 14px;
          color: white;
    }
}


/***/

.h3{
  text-align: center;
}



h1, h2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

p { color: hsl(229, 6%, 66%); }

/* - - - */

/*
 * # Specific Styles Rules
 */

/*
 * ## Main Header Element
 */

/* header {
  margin: 80px 30px 75px;
  text-align: center;
}

header > h1 {
  margin: 20px 0;
  font-weight: 200;
}

header > h1 strong {
  font-weight: 600;
}

header > p {
  max-width: 520px;
  margin: auto;
} */

@media (max-width: 443px) {
  header > h1 { font-size: 1.6em; }
}
 
/*
 * ## Cards Container Class
 */

.cards-container {
  /* List Styling Clean-Up */
  list-style: none;
  padding: 0; margin: 0;

  /* Alignment */
  margin: auto;
}

/*
 * ### Responsive Layout Rules
 */

/* When viewport width is equal or greater than 788 pixels,
 * the cards container will fix its width and will append the
 * clear fix pseudo-class to avoid float property issues.
 *
 * The width will depend from the current viewport width.
 * If is greater than 1166 pixels, will be 1106 pixels.
 * Else, then will be 728 pixels.
 */

@media (min-width: 788px) {
  .cards-container { 
    width: 728px;
  }
  /* Clear Fix */
  .cards-container::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (min-width: 1166px) {
  .cards-container {
    width: 1106px;
  }
}

/*
 * ## Feature Card Class
 */

[class$='feature-card'] {
  /* Positioning and Sizing */
  position: relative;
  box-sizing: border-box;
  width: 350px; height: 250px;

  /* Alignment */
  margin: 0;
  padding: 32px;

  /* Box Details */
  border-radius: 10px;
  border-top: solid 5px black;
  box-shadow: 2px 5px 20px rgb(0,0,0,0.1);
}
 
/*
 * ### Inner Elements
 */

[class$='feature-card'] h2, [class$='feature-card'] p { margin: 0; }

[class$='feature-card'] img {
  position: absolute;
  bottom: 32px; right: 32px;
}

/*
 * ### Top Border Colors Rules
 */

[class$='feature-card'][class*='cyan'] {
  border-color: hsl(180, 62%, 55%);
}

[class$='feature-card'][class*='red'] {
  border-color: hsl(0, 78%, 62%);
}

[class$='feature-card'][class*='orange'] {
  border-color: hsl(34, 97%, 64%);
}

[class$='feature-card'][class*='blue'] {
  border-color: hsl(212, 86%, 64%);
}

/*
 * ### Responsive Layout Rules
 */

/* When the viewport width is less than 788 pixels, the container
 * will not be fixed and every card will arrange normally one over
 * other. This layout is comfortable for mobile devices.
 *
 * But if is equal or greather, every card will set the float
 * property to the left.
 *
 * They will sort smartly on a grid of two columns and two rows if
 * the current viewport width is less than 1166 pixels, that is,
 * for notebooks and tablets screens.
 *
 * Else, then they will sort like the final challenge for desktop
 * larger screens (with a viewport width greather than 1166 pixels.)
 *
 * I had to hard coded every effect because I only use float
 * properties. And I didn't went to use auxiliar HTML elements,
 * trying to keep separation of concerns.
 */

@media (min-width: 788px) {
  [class$='feature-card'] {
    float: left;
  }

  @media (min-width: 1166px) {
    
    [class$='feature-card']:first-child {
      margin: 140px 0;
    }
   
    [class$='feature-card']:nth-child(2),
    [class$='feature-card']:nth-child(3) {
      margin: 0 22px;
    }

    [class$='feature-card']:last-child {
      margin-top: -110px;
    }

    [class$='feature-card']:nth-child(3) {
      margin-top: 30px;
    }
  }

  @media (max-width: 1165px) {

    [class$='feature-card']:nth-child(3),
    [class$='feature-card']:nth-child(4) {
      margin-top: 30px;
    }

    [class$='feature-card']:nth-child(2),
    [class$='feature-card']:nth-child(4) {
      margin-left: 28px;
    }
  }
}

@media (max-width: 787px) {

  [class$='feature-card'] {
    width: 300px; height: 220px;
    margin: auto;
  }

  [class$='feature-card']:not(:first-child) {
    margin-top: 22px;
  }
}

/*
 * ## Main Footer
 */

footer { margin-top: 80px };

/*
 * ## Attribution Watermark
 */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




/*Pricing*/


/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
} */

h1.demo-title {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: #2A293E;
  letter-spacing: 2px;
}

h1.demo-title a {
  font-size: 16px;
  font-weight: 300;
}

.pricing-table {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  /* background: #ffffff; */
  
}

.pricing-table .ptable-item {
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
  border: 2px solid hsl(180, 98%, 31%);
}

@media (max-width: 992px) {
  .pricing-table .ptable-item {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .pricing-table .ptable-item {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .pricing-table .ptable-item {
    width: 100%;
  }
}

.pricing-table .ptable-single {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pricing-table .ptable-header,
.pricing-table .ptable-body,
.pricing-table .ptable-footer {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.pricing-table .ptable-status ,
.pricing-table .ptable-title,
.pricing-table .ptable-price,
.pricing-table .ptable-description,
.pricing-table .ptable-action {
  position: relative;
  width: 100%;
  text-align: center;
}

.pricing-table .ptable-single {
  /* background: #f6f8fa; */
}

.pricing-table .ptable-single:hover {
  /* box-shadow: 0 0 10px #000000; */
}

.pricing-table .ptable-header {
  margin: 0 30px;
  padding: 30px 0 45px 0;
  width: auto;
  background: hsl(180, 98%, 31%);
}

.pricing-table .ptable-header::before,
.pricing-table .ptable-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #f6f8fa;
}

.pricing-table .ptable-header::before {
  right: 50%;
  border-right: 250px solid transparent;
}

.pricing-table .ptable-header::after {
  left: 50%;
  border-left: 250px solid transparent;
}

.pricing-table .ptable-item.featured-item .ptable-header {
  background: hsl(180, 98%, 31%);
}

.pricing-table .ptable-status {
  margin-top: -30px;
}

.pricing-table .ptable-status span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  background: hsl(47, 98%, 50%);
}

.pricing-table .ptable-status span::before,
.pricing-table .ptable-status span::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid hsl(180, 98%, 31%);
}

.pricing-table .ptable-status span::before {
  right: 50%;
  border-right: 25px solid transparent;
}

.pricing-table .ptable-status span::after {
  left: 50%;
  border-left: 25px solid transparent;
}

.pricing-table .ptable-title h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}

.pricing-table .ptable-price h2 {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  margin-left: 15px;
}

.pricing-table .ptable-price h2 small {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  margin-top: 16px;
  margin-left: -15px;
}

.pricing-table .ptable-price h2 span {
  margin-left: 3px;
  font-size: 16px;
  font-weight: 300;
}

.pricing-table .ptable-body {
  padding: 20px 0;
}

.pricing-table .ptable-description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing-table .ptable-description ul li {
  color: #2A293E;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 7px;
  border-bottom: 1px solid #dedede;
}

.pricing-table .ptable-description ul li:last-child {
  border: none;
}

.pricing-table .ptable-footer {
  padding-bottom: 30px;
}

.pricing-table .ptable-action a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: hsl(180, 98%, 31%);
}

.pricing-table .ptable-action a:hover {
 background-color: hsl(180, 98%, 31%);
}

.pricing-table .ptable-item.featured-item .ptable-action a {
  background-color: hsl(180, 98%, 31%);
}

.pricing-table .ptable-item.featured-item .ptable-action a:hover {
  background-color: hsl(180, 98%, 31%);
}



/*Testimonials*/



/**/

.instructions {
  text-align:center;
  font-size:20px;
  margin: 15vh;
}  

/* //////////////////////////////////////////////////////////////////////////////////////////////
	//   Default Modal Styles   //
////////////////////////////////////////////////////////////////////////////////////////////// */
/*   This is the background overlay   */
.backgroundOverlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .85;
	filter: alpha(opacity=85);
	-moz-opacity: .85;
	z-index: 101;
	display: none;
}
/*   This is the Popup Window   */
.delayedPopupWindow {
	display: none;
	position: fixed;
	width: auto;
	max-width: 600px;
	height: 410px;
	top: 50%;
	left: 50%;
	margin-left: -260px;
	margin-top: -180px;
	background-color: #efefef;
	border: 2px solid #333;
	z-index: 102;
	padding: 10px 20px;
}
/*   This is the closing button  */
#btnClose {
	width:100%;
	display: block;
	text-align: right;
	text-decoration: none;
	color: #BCBCBC;
}
/*   This is the closing button hover state  */
#btnClose:hover {
	color: #c90c12;
}
/*   This is the description headline and paragraph for the form   */
#delayedPopup > div.formDescription {
	float: left;
	display: block;
	width: 44%;
	padding: 1% 3%;
	font-size: 18px;
	color: #666;
	clear: left;
}
/*   This is the styling for the form's headline   */
#delayedPopup > div.formDescription h2 {
	color: #444444;
	font-size: 36px;
	line-height: 40px;
}

/* 
////////// MailChimp Signup Form //////////////////////////////
*/

/*   This is the signup form body  */
#delayedPopup #mc_embed_signup {
	float: left;
	width: 47%;
	padding: 1%;
	display: block;
	font-size: 16px;
	color: #666;
	margin-left: 1%;
}
/*   This is the styling for the signup form inputs  */
#delayedPopup #mc-embedded-subscribe-form input {
	width: 95%;
	height: 30px;
	font-size: 18px;
	padding: 3px;
  margin-bottom: 5px;
}
/*   This is the styling for the signup form inputs when they are being hovered with the mouse  */
#delayedPopup #mc-embedded-subscribe-form input:hover {
	border:solid 2px hsl(211, 100%, 35%);
	box-shadow: 0 1px 3px #AAAAAA;
}
/*   This is the styling for the signup form inputs when they are focused  */
#delayedPopup #mc-embedded-subscribe-form input:focus {
	border:solid 2px hsl(211, 100%, 35%);
	box-shadow: none;
}
/*   This is the styling for the signup form submit button  */
#delayedPopup #mc-embedded-subscribe {
	width: 100%!important;
	height: 40px!important;
	margin: 10px auto 0 auto;
	background: hsl(211, 100%, 35%);
	border: none;
	color: #fff;
}
/*   This is the styling for the signup form submit button hover state  */
#delayedPopup #mc-embedded-subscribe:hover {
	background: hsl(211, 100%, 35%);
	color: #fff;
	box-shadow:none!important;
	cursor: pointer;
}

.sl{
  color: black;
  font-size: 14px;
}



/*Custom Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(180, 98%, 31%);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(47, 98%, 50%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(47, 98%, 50%); 
}


/**/

.custom{
  background-color: hsl(180, 98%, 31%);
  height: 390px;
}


.cyan-feature-card:hover{
  background-color: hsl(180, 98%, 31%);
  color: black;
}

.steps{
color: hsl(222, 46%, 17%);
}

.red-feature-card:hover{
  background-color: #c90c12;
}


.orange-feature-card:hover{
  background-color: hsl(47, 98%, 50%);

}

.blue-feature-card:hover{
  background-color: hsl(180, 62%, 55%);
}